<div>
    <ProgressBar value="<%= progress %>"></ProgressBar>

    <TabsBar class="<%= cn.ul %>" tabs="tabs" current-tab="<%= state.currentTabKey %>" on-click="onTabClick"></TabsBar>

    <p class="<%= cn.p %>">
        <%= content %>
    </p>

</div>
